/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/*========== z index ==========*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #090b1a;
  color: rgba(255, 255, 255, 0.75);
}

h1,
h2,
h3,
h4 {
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3.75rem 0 2rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 60.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  overflow: hidden;
  /*For animation*/
}

.stats__container {
  background-color: #1b1938;
  border-radius: 0.5rem;
}
.stats__image {
  position: relative;
  cursor: pointer;
}
.stats__image--img {
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.stats__image--filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #aa5cdb;
  border-radius: 0.5rem;
}
.stats__data {
  padding: 2rem;
  text-align: center;
  row-gap: 1rem;
}
.stats__data--titles {
  font-size: 2rem;
  font-weight: 600;
}
.stats__data--title {
  color: #aa5cdb;
}
.stats__data--description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5rem;
}
.stats__results {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  padding: 0 2rem 2.5rem;
}
.stats__results--1, .stats__results--2, .stats__results--3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.stats__results--number {
  font-weight: 600;
}
.stats__results--desc {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.footer__card {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stats {
    margin: 5rem auto;
  }
  .stats__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content-1 image" "content-2 image";
    margin: 0 2rem;
    position: relative;
  }
  .stats__image {
    grid-area: image;
    background-image: url(../images/image-header-desktop.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .stats__image--img {
    display: none;
  }
  .stats__data {
    grid-area: content-1;
    padding: 2.5rem 4rem 2.5rem 2.5rem;
    text-align: left;
  }
  .stats__data--description {
    font-size: 0.75rem;
  }
  .stats__results {
    grid-area: content-2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    padding: 0 2.5rem 2.5rem;
  }
  .stats__results--number {
    font-size: 1rem;
  }
  .stats__results--desc {
    font-size: 0.6rem;
  }
  .stats__results--1, .stats__results--2, .stats__results--3 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__card {
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */