.stats {
  &__container {
    background-color: $card-background;
    border-radius: 0.5rem;
  }

  &__img {
    &--1 {
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  &__data {
    padding: 1.5rem;
    text-align: center;
    row-gap: 1rem;

    &--titles {
      font-size: $normal-font-size;
      font-weight: $font-bold;
    }

    &--title {
      color: $accent;
    }

    &--description {
      font-size: $smaller-font-size;
      line-height: 1.2rem;
    }
  }

  &__results {
    font-size: $small-font-size;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1.5rem;

    &--1,
    &--2,
    &--3 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $mb-0-25;
    }

    &--number {
      font-size: $small-font-size;
      font-weight: $font-bold;
    }
    &--desc {
      font-size: 0.55rem;
      font-weight: $font-medium;
      font-family: $body-font-alt;
    }
  }
}
