.stats {
  &__container {
    background-color: $card-background;
    border-radius: 0.5rem;
  }

  &__image {
    position: relative;
    cursor: pointer;

    &--img {
      border-radius: 0.5rem 0.5rem 0 0;
      display: block;
      width: 100%;
      height: auto;
      backface-visibility: hidden;
    }

    &--filter {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      transition: 0.5s ease;
      background-color: $accent;
      border-radius: 0.5rem;
    }
  }

  &__data {
    padding: $mb-2;
    text-align: center;
    row-gap: $mb-1;

    &--titles {
      font-size: $biggest-font-size;
      font-weight: $font-bold;
    }

    &--title {
      color: $accent;
    }

    &--description {
      font-size: $small-font-size;
      color: $stat-headings;
      line-height: $mb-1-5;
    }
  }

  &__results {
    align-items: center;
    flex-direction: column;
    row-gap: $mb-2;
    padding: 0 2rem 2.5rem;

    &--1,
    &--2,
    &--3 {
      flex-direction: column;
      align-items: center;
      gap: $mb-0-5;
    }

    &--number {
      font-weight: $font-bold;
    }
    &--desc {
      font-size: $small-font-size;
      font-weight: $font-medium;
      font-family: $body-font-alt;
      color: $stat-headings;
    }
  }
}
