/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $small-font-size;
  background: $main-background;
  color: $main-paragraph;
}

h1,
h2,
h3,
h4 {
  color: $main-heading;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3.75rem 0 2rem;
}

.section__title {
  font-size: $h2-font-size;
  margin-bottom: $mb-2;
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 375px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.main {
  overflow: hidden; /*For animation*/
}
