/*=============== VARIABLES CSS ===============*/

$header-height: 3.5rem;

/*========== Colors ==========*/
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 100%, 27%);

/*========== Font and typography ==========*/
$body-font: 'Inter', sans-serif;
$body-font-alt: 'Lexend Deca', sans-serif;
$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 1.3rem;
$small-font-size: 1rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 300;
$font-semi-bold: 400;
$font-bold: 600;

/*========== Margin Bottom ==========*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
